[cism]
local_path = .
protocol = externals_only
externals = CISM.cfg
required = True

[cime]
local_path = cime
protocol = git
repo_url = https://github.com/billsacks/cime
branch = cism_standalone
required = True

# Include components needed to run an I compset

[ctsm]
local_path = components/clm
protocol = git
repo_url = https://github.com/billsacks/ctsm
tag = 333a28f5
externals = CLM.cfg
required = True

[mosart]
local_path = components/mosart
protocol = git
repo_url = https://github.com/ESCOMP/mosart
tag = mosart1_0_28
required = True

[externals_description]
schema_version = 1.0.0
